<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/kube.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <row class="centered">
            <column cols="2"></column>
            <column cols="8" class="centered">
                {% block body %}{% endblock %}
            </column>
            <column class="column" cols="2"></column>
        </row>
        {% block javascripts %}{% endblock %}
    </body>
</html>
